# See .prettierignore for more details
# https://prettier.io/docs/en/ignore.html

# Ignore artifacts
.next
node_modules
coverage
dist

# Ignore misc
.DS_Store
*.pem
*.log
*.lock
*.svg
*.ico

# Ignore env
.env
.env.*

# Ignore configs
next.config.mjs
postcss.config.mjs
